.DS_Store
*.egg
*.egg-info
*.mo
*.py[cod]
*.so
*.sw[po]
.coverage
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.tox
bin
build
develop-eggs
dist
docs/_build
eggs
env/*
lib
lib64
nosetests.xml
output/*.html
output/*/index.html
parts
pip-log.txt
sdist
var
